<h1>Choose a Category</h1>

<%= link_to "Automotive", new_auto_path, class: "btn waves-effect waves-light light-blue accent-3" %>
<%= link_to "Jobs", new_job_path, class: "btn waves-effect waves-light light-blue accent-3" %>