<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">VAAST Barbados</h1>
        <div class="row center">
          <h5 class="header col s12 light">Barbados' most modern marketplace and job finder</h5>
        </div>
        <div class="row center">
         <%= link_to "Get Started", getstarted_path, class: "btn-large waves-effect waves-light  blue lighten-1" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://static.pexels.com/photos/442007/pexels-photo-442007.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="large material-icons">directions_car</i></h2>
            
            <h5 class="center">Automotive</h5>

            <p class="light">Put your car up for sale or browse around for one</p>
           <%= link_to "See Listings", autos_path, class: "btn-large waves-effect waves-light red accent-4" %>
          </div>
          
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="large material-icons">business_center</i></h2>
            <h5 class="center">Jobs</h5>

            <p class="light">If you're looking for work or employees this is the right place</p>
            <%= link_to "See Listings", jobs_path, class: "btn-large waves-effect waves-light blue" %>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">weekend</i></h2>
            <h5 class="center">Other Items</h5>

            <p class="light">We'll help you sell that thing you've been wanting to get rid of</p>
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Explore</a>
          </div>
        </div>
      </div>

    </div>
  </div>



    <!-- Tablet and desktop -->
    <div class="row hide-on-small-only hero-home blue">
      <div class="col m10 offset-m1 s12 l10 offset-l1">
        <h1 class="white-text main-title">Join Free Today</h1>
        <h5 class="white-text sub-title">Learn About Barbados' Best Online Marketplace</h5>        

        <!-- 
        <h1 class="white-text main-title">Smarter organization through intelligent automation</h1>
        <h5 class="white-text sub-title">Everything you need to digitize operations and eliminate manual work</h5>         

        <h1 class="white-text main-title">Smart process automation</h1>
        <h5 class="white-text sub-title">Digitize operations. Eliminate manual work. Move faster.</h5>        
        -->
        <div class="row">
          <div class="col offset-m4 m4">
            <a href="https://editor.stamplay.com/register" class="btn btn-large full-width waves-effect waves-light yellow darken-2 segment-track-start"><span class="dark-grey-text">Learn</span></a>
          </div>
        </div>
      </div>
    </div>
 