/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   font-family: 'Rubik', sans-serif;
   color: #212529 !important; 
   background-image: linear-gradient(to top, #dfe9f3 0%, white 100%) !important;
  }
 .btn {
  background-color: #0f98f9 !important; 

 }
  main {
    flex: 1 0 auto;
  }
  .pagination a li.active {
  color: #fff;
}
.whitec{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%) !important;
}
.whitecolor{
   background-color: #F9FAFC !important;
}

.tgrey{
    color: #5D6161 !important;
}
.twhite{
    color: #F5F4F7 !important;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: white;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 

}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: white;
  }
  
  
nav{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a940+0,ef5656+78 */
  background: #f2a940;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f2a940 0%, #ef5656 78%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f2a940 0%, #ef5656 78%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f2a940 0%, #ef5656 78%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a940', endColorstr='#ef5656', GradientType=1);

  /* IE6-9 */
  min-height: 3.25rem;
  position: relative;
}

 .center{
    text-align:center;
}
.navbar {
  	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
    margin-bottom: 0px;
}
.navbar-default {
  height: 80px;
}
.navbar-default .navbar-nav > li > a,
.navbar-brand {
  letter-spacing: 1.4px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    padding-left: 20px;
}

#logo:hover {
    
color: #fff;
text-decoration: none;
}


.jumbo{

}

.autotitle{
   

}

.bluegradient{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.greengradient{
 background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

